:root {
  --main: #333;
  --main-alt: #818181;
  --accent: #895fad;
  --accent-alt: #ffd700;
  --white: #f5f5f5;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
